@import "src/theme/variables.scss";

.menu {
  display: flex;
  flex-direction: column;

  .menu__title {
    margin-bottom: 1rem;
  }

  .menu__item {
    display: flex;
    padding: 0.875rem;
    border: 0px;
    background-color: unset;
    width: 230px;

    &:hover,
    &:focus {
      background-color: $primary;
      border-radius: 0 50px 50px 0;
      outline: unset;
      h4 {
        @include themify($themes) {
          color: themed("sidebar-text-color-hover");
        }
      }
    }

    .menu__item__icon {
      width: 15px;
      height: 15px;
      margin-right: 0.5rem;
    }
    .menu__item__title {
      @include themify($themes) {
        color: themed("sidebar-text-color");
      }
    }
  }
  .menu__toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    padding: 1rem;
    border-radius: 6px;
    margin-top: auto;
    margin-bottom: 1rem;
    @include themify($themes) {
      background-color: themed("sidebar-toggle-background");
    }

    .menu__toggle-container__icon {
      width: 15px;
      height: 15px;
    }
  }
}
