@import "src/theme/variables.scss";

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;

  @include themify($themes) {
    background: themed("sidebar-background");
    color: themed("sidebar-text-color");
  }

  .layout__inner-container {
    display: flex;
    height: 100%;

    .mobile-menu__button {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
}
