@import "src/theme/variables.scss";

.sidebar {
  @include themify($themes) {
    background: themed("sidebar-background");
    color: themed("sidebar-text-color");
    border-right: 1px solid themed("sidebar-border-color");
  }
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-right: 1rem;
  justify-content: space-between;
  height: calc(100% - 81px);
  position: absolute;
  left: 0;
  transition: left 0.5s ease-in-out;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &.sidebar--is-hidden {
    left: -240px;
    transition: left 0.5s ease-in-out;
  }

  .sidebar__hide-button {
    background-color: unset;
    @include themify($themes) {
      color: themed("sidebar-text-color");
    }
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0 0.5rem 1rem;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: transparent;
    }
    &:focus {
      outline: unset;
    }

    &:hover {
      cursor: pointer;
    }

    .sidebar__hide-button__text {
      margin: 0 1rem;
    }

    .sidebar__hide-button__show-icon {
      margin-left: auto;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    .sidebar__hide-button__show-icon--is-hidden {
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
  }
}
